.place__url-heading {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #AAAAAA;
    margin: 0px;
    margin-bottom: 8px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place__url-heading {
        margin-bottom: 16px;
    }
}