.cover__title {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;
    text-align: center;
    margin: 0 auto;
    color: #FFFDFD;
    padding-top: 274px;
    text-decoration: none;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .cover__title {
        margin: 0 auto;
        margin-top: 64px;
        padding: 0px;
        width: 90%;
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .cover__title {
        margin: 0 auto;
        margin-top: 104px;
        padding: 0px;
        width: 90%;
        font-size: 32px;
        line-height: 35px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover__title {
        margin: 0 auto;
        width: 90%;
        font-size: 72px;
        line-height: 78px;
        padding: 0px;
        margin-top: 165px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover__title {
        margin: 0 auto;
        width: 928px;
        height: 65.28px;
        padding: 0px;
        margin-top: 211px;
    }
}