@import url(../../blocks/intro/__content-row/intro__content-row.css);
@import url(../../blocks/intro/__subtitle/intro__subtitle.css);
@import url(../../blocks/intro/__title/intro__title.css);
@import url(../../blocks/intro/__bold/intro__bold.css);
@import url(../../blocks/intro/__bottombar/intro__bottombar.css);
@import url(../../blocks/intro/__leftbar/intro__leftbar.css);
@import url(../../blocks/intro/__rightbar/intro__rightbar.css);
@import url(../../blocks/intro/__text/intro__text.css);
@import url(../../blocks/intro/__paragraph/intro__paragraph.css);
@import url(../../blocks/intro/__statistic/intro__statistic.css);


.intro {
    margin: 0 auto;
    width: 984px;
    /* height: 437px; */
    margin-bottom: 92px;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .intro {
        width: 100%;
        margin: 0px;
        margin-top: 64px;
    }
}


@media screen and (min-width: 375px) and (max-width: 767px) {
    .intro {
        width: 100%;
        margin: 0px;
        margin-top: 64px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .intro {
        width: 720px;
        margin: 0 auto;
        margin-top: 80px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .intro {
        width: 928px;
    }
}