@import url(../../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../../blocks/cover/__title/cover__title.css);
@import url(../../blocks/cover/__link/cover__link.css);

.cover {
    margin: 0 auto;
    width: 1184px;
    margin-top: 102px;
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .cover {
        margin: 0 auto;
        width: 100%;
        margin-top: 64px;
    }
}

@media screen and (min-width: 375px) and (max-width: 767px) {
    .cover {
        margin: 0 auto;
        width: 100%;
        margin-top: 48px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cover {
        margin: 0 auto;
        width: 100%;
        margin-top: 102px;
        height: 500px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .cover {
        margin-top: 102px;
        height: 562px;
        width: 928px;
    }
}
