.barentsburg__coord {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 42px;
    line-height: 61px;
    margin: 0px;
    /* margin-top: 20px; */
    color: #FFFFFF;
}