.additional__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    margin: 0 auto;
    color: #FFFFFF;
    margin-bottom: 30px;
    width: 248px;
    /* height: 74px; */
    
}
/* 
.additional__text:nth-child(1) {
    width: 248px;
    height: 54px;
}

.additional__text:nth-child(2) {
    width: 248px;
    height: 74px;
}

.additional__text:nth-child(3) {
    width: 248px;
    height: 74px;
}

.additional__text:nth-child(4) {
    width: 248px;
    height: 74px;
} */